.name {
    background-color: rgb(255, 51, 61);
    height: 4.5em;
    width: auto;
    display: flex;
    flex-direction: row;
    border: 20px solid white;
    border-radius: 2.1em;

}

.title {
    margin: 15px;
    width: 42.2em;
    color: #f5ffef;
    font-weight: bold;
    font-size: 2.1em;
    font-family: Ronnia Condensed, FF Meta Serif, Georgia;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid #0f16ff;
    animation: flashing-border 0.25s step-end infinite,
    printed-text 3s steps(33);
}

@keyframes printed-text {
    from {
        width: 0;
    }
}

.blink {
    -webkit-animation-delay: 3.4s;
    -moz-animation-delay: 3.4s;
    -o-animation-delay: 3.4s;
    animation-delay: 3.4s;

    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,0);
    animation-duration: 1.1s;

    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,0);
    -webkit-animation-duration: 1.1s;

}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

