.root {
	width: 58%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fd232f;
	border-radius: 1em;
	margin: 1em;
}

.items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 10px;
	margin: 10px;
	border-radius: 1em;

	color: white;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 70%;
	height: 10%;
	margin: 2px;

	padding: 7px;
	border-radius: 0.2em;

}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 30%;

	border-radius: 1em;
	background-color: yellow;
	color: black;
}